/*Carousel styles*/
.img-slide {
    max-height: 530px;
}

.carousel-item .caption {
    width: 40rem;
    margin: 0 auto;
}

/*Categories*/
.view-more-latest {
    border: 1px solid #C19A6B;
    border-radius: 50px;
}

.view-more-latest:hover {
    color: #906a3c;
    border: 1px solid #906a3c;
}

.view-more-cheapest {
    border: 1px solid white;
    color: white;
    border-radius: 50px;
}

.view-more-cheapest:hover {
    border: 1px solid #906a3c;
    color: #906a3c;
}
