/*General styles*/
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #C19A6B;
}

a {
    color: #C19A6B;
    text-decoration: none;
}

a:hover {
    color: #906a3c;
}

/*Theme styles*/
.bg-brown {
    background-color: #C19A6B;
}

.bg-dark-brown {
    background-color: #906a3c;
}

.text-brown {
    color: #C19A6B;
}

.text-dark-brown {
    color: #906a3c;
}

.btn-brown {
    background-color: #C19A6B;
    color: white;
}
.btn-brown:hover {
    border-color: #C19A6B;
    background-color: white;
    color: #C19A6B;
}

.btn-outline-brown {
    border-color: #C19A6B;
    background-color: white;
    color: #C19A6B;
}

.btn-outline-brown:hover {
    background-color: #C19A6B;
    color: white;
}

.border-brown {
    border-color: #C19A6B;
}

/*Header styles*/
.logo {
    height: 100px;
}

.categories-list {
    min-width: 40%;
}

.categories-list > .input-group > ul {
    border: 0;
    padding: 0;
    background: transparent;
}

.categories-list > .input-group > ul > .category {
    margin: 5px 0;
    background-color: #C19A6B;
    border-radius: 10px;
    text-align: center;
}

.categories-list > .input-group > ul > .category > a {
    color: white;
}

.categories-list > .input-group > ul > .category > a:hover {
    background-color: white;
    color: #C19A6B;
    border-radius: 10px;
    border: 1px solid #C19A6B;
}

.categories-list > .input-group > ul > .sub-category {
    margin: 5px 0 5px 20px;
    background-color: #C19A6B;
    border-radius: 10px;
    text-align: center;
}

.categories-list > .input-group > ul > .sub-category > a {
    color: white;
}

.categories-list > .input-group > ul > .sub-category > a:hover {
    background-color: white;
    color: #C19A6B;
    border-radius: 10px;
    border: 1px solid #C19A6B;
}

/*Nav styles*/
nav.navbar {
    background-color: #906a3c;
}

nav .nav-item {
    text-align: center;
    background-color: white;
    border-radius: 50px;
    margin: 5px;
    width: 110px;
}

nav .navbar-toggler:focus, .navbar-toggler:active {
    outline: none !important;
    box-shadow: none;
}

.sub-category {
    margin-left: 20px;
}

/*Product*/
.product {
    cursor: pointer;
}

.product:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .250) !important;
}